/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
	background-image: url('images/hard-paper-texture.jpg');
	background-size: cover;
	font-family: arial;
}

h1, h2, h3, h4, h5, h5 {
	font-family: sans-serif;
}

p {
	margin-left: 5px;
}

header.page-header {
	border: solid 1px black;
	background-color: rgba(255, 0, 0, 0.3);
	padding: 1rem;
}

.page-header h1 {
	margin-bottom: 0;
}

.page-header p {
	margin-top: 0;
}

.page-header small {
	font-size: medium;
}

aside.more-info img {
	width: 150px;
	height: auto;
	border: solid 1px black;
}

section#content {
	border: solid 1px black;
}

ul.poem::first-letter {
	font-size: 200%;
	font-style: italic;
	font-weight: bold;
}

.poem li {
	line-height: 1.8;
}
footer.page-footer {
	border: solid 1px black;
}

ul.poem {
	list-style: none;
}


